* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 6px;
}

.container {
    max-width: 598px;
    margin: 0 auto;
}

/* Button area */
.button-area {
    max-width: 598px;
}

/* Alphabet button */
.alphabet-button {
    background: #77dd77;
    color: black;
    border: solid 2px gray;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    margin: 3px;
    font-size: 18px;
}

.letter-clicked {
    color: gray;
}

button:focus {
    outline: none;
}

#word-view {
    letter-spacing: 0.5em;
}

#replay-button {
    background: #77dd77;
    border: solid 2px gray;
    border-radius: 10px;
    font-size: 20px;
    padding: 4px 12px;
}

@media screen and (max-width: 620px) {
    .container, .button-area {
        max-width: 414px;
    }
}

@media screen and (max-width: 440px) {
    .container, .button-area {
        max-width: 308px;
    }
    .alphabet-button {
        height: 38px;
        width: 38px;
    }
}